* {
  margin: 0px;
  padding: 0px;
  font-size: large; }

body {
  background-color: #FFF8DC; }

#contenedor_lista {
  height: 100%; }
  #contenedor_lista ul {
    line-height: 1.5;
    display: inline-block;
    margin: 5px 50px;
    list-style: none;
    text-align: center; }
    #contenedor_lista ul b {
      font-size: 22px; }
    #contenedor_lista ul li {
      margin: 30px 60px; }
    #contenedor_lista ul li:hover {
      color: #4f8686;
      transition: all .3s;
      transform: scale(2); }

#lista_cuidad {
  position: relative;
  left: 30px; }

#lista_estado {
  position: relative;
  left: 30px; }

#lista_tienda {
  position: relative;
  left: 30px; }

/*# sourceMappingURL=index.css.map */
