
$color-lista: #0fc4c491;

*{

	margin: 0px;
	padding: 0px;
	font-size: large;

}

body{
	
	background-color: #FFF8DC;


}

#contenedor_lista{

	height: 100%;

	ul{

		line-height: 1.5;
		display: inline-block;
		margin: 5px 50px;
		list-style: none;
		text-align: center;

		b{
			font-size: 22px;

		}

		li{
			margin: 30px 60px;

		}

		li:hover{

			color: rgb(79, 134, 134);
			transition: all .3s;
			transform: scale(2);
		}

	}

}

#lista_cuidad{

	position: relative;
	left: 30px;

}

#lista_estado{

	position: relative;
	left: 30px;

}

#lista_tienda{

	position: relative;
	left: 30px;

}
