body{


	background-color: #FFFF;


}

#formulario {

	background-color: #01C8D8 ;
	height: 200px;
	width: 250px;
	border-radius: 5%;
	position: relative;
	left: 39%;
	top: 250px;

}

#numero{

	position: absolute;
	width: 90px;
	top: 30%;
	left: 57%;
	border-radius: 2px;

}

#texto{

	position: absolute;
	top: 30%;
	left: 2%;
}

#btn_ingresar{

	position: absolute;

	top: 75%;
	left: 35%;
	


}




